100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\background.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\menu_image.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\victory_image.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\loser_image.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\brick.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ball.bmp"
106 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\bar.bmp"